<div class="section-wrapper">
    
    <section class="section about-me" id="about-me">
        <div id="about-me-text">
            <div class="section-heading">About Me</div>
                        
            <p class="paragraph-text justify-text">
                Hello, I'm an Computer Engineering student at Hanbat University, and a student researcher at the Computer Simulation Lab(SIMLAB).
                Thank you for visiting my site. Have a nice day!
            </p>               
        </div>
    </section>
    
    <section class="section history" id="history">
        <div id="history-text">
            <div class="section-heading">History</div>
                        
            <p class="paragraph-text justify-text">
                2018.02 Graduate from Unho high school                                                                                 
            </p>  
            
            <p class="paragraph-text justify-text">
                2018.03 Entered the Department of Computer Engineering at Hanbat University                                                                                   
            </p>
            
        </div>
    </section>    
</div>
